.address-heading + .input-wrapper {
    margin-top: 1rem;
}

.input.card-expiration {
    width: 7.5rem;
    margin-right: auto;
}

.input.card-cvv {
    width: 4rem;
    margin-left: auto;
    text-align: center;
}