.logo {
   display: flex;
   align-items: center;
   font-weight: bold;
   line-height: 2.4rem;
   font-size: 1.8rem;
}

.logo-icon {
   margin-right: 0.5rem;
}

.logo-text--primary {
   color: var(--col-primary);
   margin-right: 0.2rem;
}

.logo-text--secondary {
   color: var(--col-secondary);
}
